@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
#H1-PRODUCT {
    font-family: 'Roboto', sans-serif;
}


/* #cart_itames {
    background-color: aqua;
    position: absolute;
}

#cart_itames div a {
    cursor: pointer;
} */